{% extends "base.html" %}
{% block title %}Attribution des cours{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    
    $("#selector").change(function(){
       var v = $("#selector option:selected");
       //Définit l'url du formulaire
       var url = "/teachers/"+v.val();
       $("#myform").attr('action', url);
       $("#myform").submit();
       return false;
    })
    
    $("#but_print").click(function(){
    	var v = $("#selector option:selected");
    	var url = "/teachers/charges/"+v.val();
        $("#form_print").attr('action', url);
        $("#form_print").submit();
        return false;
    });
});

</script>
<h1>Liste des enseignants</h1>
<!-- Sélecteur principal -->
<form name="myform" id="myform" action="" method="POST">{% csrf_token %}
<p><select name="selector" id="selector" > 
{% for teacher in teachers %}
<option value="{{ teacher.id }}" 
{% ifequal teacher.id teacher_selected.id %}
selected
{% endifequal %}
>
{{ teacher.full_name }}</option>
{% endfor %}
</select>
</form>
<form id="form_print" action="" method="POST">{% csrf_token %}
<button id="but_print" >Imprimer la feuille de charge</button>
</form>
</p>
<table id="courses_tab">
<tr>
    
    <th width="50px">Careum</th>
    <th>Libellé du cours</th>
    <th width="20px" align="right">Pér. prof.</th>
    <th width="70px">Classe</th>
    <th >Enseignant-e</th>
</tr>
{% for course in courses %}
    <tr>
        <td><a href="/contents/{{ course.content.code }}">{{ course.content.code }}</a></td>
        <td>{{ course.content.name|truncatechars:40 }}</td>
        <td align="right">{{ course.teacher_period }}</td>
        <td><a href="/promotions/{{course.promotion.id }}">{{ course.promotion.name }}</a></td>
        <td><select name="teacher_selected" id="teacher_selected_{{ forloop.counter }}" class="teacher_selecting" onChange="teacher_select_change(this)" >
        <option value="{{ course.id }}_0"
        {% ifequal teacher.id course.teacher.id %}selected{% endifequal %}>----</option>  
        {% for teacher in teachers %}
        <option value="{{ course.id }}_{{ teacher.id }}"
        {% ifequal teacher.id course.teacher.id %}selected{% endifequal %}
        >{{ teacher.full_name }}</option>
        {% endfor %}        
        </select></td>
    </tr>
{% empty %}
<tr>
    <td colspan="6">Aucun cours n'a encore été attribué ! </td>
</tr>
{% endfor %}
{% for mission in missions %}
<tr>
    <td colspan="2"><a href="/admin/repart/adminjob/{{mission.id}}">{{mission.content.name}}</a></td>
    <td width="20px" align="right">{{mission.teacher_period}}</td>
    <td><a href="/admin/repart/adminjob/add">Mandat</a></td>
    <td>&nbsp;</td>
</tr>
{% endfor %}
</table>
<!-- Tableau de contrôle -->
<table id="control_tab" >
<tr>
    <th>Nom</th>
    <th align="left">Ens.</th>
    <th align="right">Mandats</th>
    <th align="right">Suivis</th>
    <th align="right">Actu</th>
    <th align="right">Total</th>
    <th >Ecart</th>
</tr>
{% for teacher in teachers %}
<tr id="teacher_{{teacher.id}}">
    <td align="left">{{ teacher.full_name }}</td>
    <td align="right">{{ teacher.total.teaching }}</td>
    <td align="right">{{ teacher.total.mission }}</td>
    <td align="right">{{ teacher.total.supervision }}</td>
    <td align="right">{{ teacher.total.others }}</td>
    <td align="right">{{ teacher.total.total }}</td>
    <td align="right" width="50px">{{ teacher.total.gap }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}